@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .nether {
  background: url(/netherrack.webp) no-repeat 100%;
}

.overworld {
  background: url(/overworld.webp) no-repeat 100%;
} */

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  position: relative;
  z-index: 1;
}

#myVideo {
  display: none;
}

#myGift700{
  display: none;
}

.off{
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#myGift {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.inicio{
  margin-top: 80px;
  margin-bottom: 15px;
}

nav {
  width: 100%;
  gap: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px 30px;
  background-image: url(/nether_Portald.webp);
  border-radius: 10px;
}

ul {
  max-width: 300px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: black;
  width: 100%;

}

.active {
  font-weight: 500;
}

.container {
  /* height: 100vh; */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttonC {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-image: url(/nether_Portald.webp);
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: #000000 0 0 20px 1px;
}

.buttonC:hover {
  border-color: #646cff;
}

.buttonC:focus,
.buttonC:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 50px;
  transition: width 0.3s;
}

.gap{
  gap: 0 !important;
}

.like-dislike-container {
  --dark-grey: #353535;
  --middle-grey: #767676;
  --lightest-grey: linear-gradient(#fafafa, #ebebeb);
  --shadow: 0 5px 15px 0 #00000026;
  --shadow-active: 0 5px 5px 0 #00000026;
  --border-radius-main: 10px;
  --border-radius-icon: 50px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  cursor: default;
  color: var(--dark-grey);
  opacity: .9;
  padding: 1.5rem;
  font-weight: 600;
  background: var(--lightest-grey);
  max-width: max-content;
  border-radius: var(--border-radius-main);
  box-shadow: var(--shadow);
  transition: .2s ease all;
}

.like-dislike-container .text-content {
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 1.6;
  cursor: default;
}

.like-dislike-container .icons-box {
  display: flex;
  gap: 20px;
}

.like-dislike-container .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6;
  margin: 0 0.5rem;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid var(--middle-grey);
  border-radius: var(--border-radius-icon);
  transition: .2s ease all;
}

.like-dislike-container .icons:hover {
  opacity: .9;
  box-shadow: var(--shadow);
}

.like-dislike-container .icons .btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  position: relative;
}

.copiar{
  width: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width:768px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.inicio{
  margin-top: 0;
}

  #myGift700 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #myGift {
    display: none;
  }

  #myVideo {
    display: none;
  }

  .principal {
    position: relative;
    z-index: 1;
  }

  nav {
    height: 90%;
    width: 30%;
    gap: 30px;
  }

  h1 {
    padding: 10px 20px;
  }

  nav ul {
    justify-content: center;
    padding: 20px 20px;
    background: url(/nether_Portald.webp);
    flex-direction: column;
    gap: 10px;
    color: white;
  }

  .active {
    color: black;
    background: #f8f8f8;
    border-radius: 6px;
  }

  .principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
  }
}

@media (min-width:1024px) {
  nav {
    width: 20%;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #myVideo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #myGift {
    display: none;
  }

  #myGift700 {
    display: none;
  }

  .principal {
    position: relative;
    z-index: 1;
  }
}
